{
  "openapi": "3.1.0",
  "info": {
    "title": "VPN_GPT Unified API",
    "version": "2.1.0",
    "description": "Полный набор API-методов VPN_GPT, синхронизированный с реальным кодом FastAPI"
  },
  "servers": [
    {
      "url": "https://vpn-gpt.store/api"
    }
  ],
  "paths": {
    "/vpn/issue_key": {
      "post": {
        "tags": [
          "vpn"
        ],
        "summary": "Выдаёт VPN-ключ",
        "description": "Создаёт новый VPN-ключ и возвращает ссылку подключения.",
        "operationId": "vpnPostIssueKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Имя пользователя, для которого создаётся ключ."
                  },
                  "days": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 30,
                    "description": "Количество дней действия ключа."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "username": "demo_user",
                "days": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ключ успешно создан.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Ответ с данными нового VPN-ключа.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "link": {
                      "type": "string",
                      "description": "Сформированная VLESS-ссылка для подключения."
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Уникальный идентификатор ключа."
                    },
                    "expires": {
                      "type": "string",
                      "format": "date",
                      "description": "Дата истечения срока действия ключа."
                    },
                    "message": {
                      "type": "string",
                      "description": "Сообщение для пользователя."
                    }
                  },
                  "required": [
                    "ok",
                    "link",
                    "uuid",
                    "expires",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Некорректные входные данные.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "У пользователя уже есть активный ключ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/vpn/renew_key": {
      "post": {
        "tags": [
          "vpn"
        ],
        "summary": "Продлевает VPN-ключ",
        "description": "Продлевает срок действия существующего VPN-ключа пользователя.",
        "operationId": "vpnPostRenewKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Имя пользователя с действующим ключом."
                  },
                  "days": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 30,
                    "description": "Дополнительное количество дней."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "username": "demo_user",
                "days": 14
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Срок действия ключа обновлён.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Ответ при продлении VPN-ключа.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "username": {
                      "type": "string"
                    },
                    "expires": {
                      "type": "string",
                      "format": "date"
                    }
                  },
                  "required": [
                    "ok",
                    "username",
                    "expires"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Некорректные входные данные.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Активный ключ не найден.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Не удалось обновить срок действия ключа.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/vpn/disable_key": {
      "post": {
        "tags": [
          "vpn"
        ],
        "summary": "Деактивирует ключ",
        "description": "Переводит VPN-ключ в статус неактивного и удаляет клиента из Xray.",
        "operationId": "vpnPostDisableKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uuid"
                ],
                "properties": {
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID ключа, который требуется отключить."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "uuid": "9ad5d1a9-1f6a-4f7b-9f3c-45ab2a0a6c92"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ключ успешно отключён.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Ответ при деактивации ключа.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "ok",
                    "uuid"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Не указан UUID ключа.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Ключ не найден.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/vpn/active": {
      "get": {
        "tags": [
          "vpn"
        ],
        "summary": "Возвращает список активных ключей",
        "description": "Предоставляет перечень всех активных VPN-ключей.",
        "operationId": "vpnGetActive",
        "responses": {
          "200": {
            "description": "Список активных ключей получен.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Список активных VPN-ключей.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "active": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "link": {
                            "type": "string"
                          },
                          "issued_at": {
                            "type": "string",
                            "format": "date"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date"
                          }
                        },
                        "required": [
                          "username",
                          "uuid",
                          "link",
                          "issued_at",
                          "expires_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "active"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/users/": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Возвращает всех пользователей",
        "description": "Список пользователей VPN из таблицы vpn_keys с возможностью фильтрации.",
        "operationId": "usersGetList",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Фильтр по имени пользователя."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Фильтр по признаку активности ключа."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "description": "Ограничение количества возвращаемых записей."
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователи успешно получены.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Список пользователей VPN.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Запись о VPN-ключе в базе данных.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "user_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "username": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "uuid": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "link": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "issued_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expires_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "active": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "ok",
                    "users",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Пользователи не найдены.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Неверно указан параметр limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/users/expiring": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Возвращает пользователей с истекающим сроком",
        "description": "Показывает пользователей, у которых срок действия VPN-ключа истекает в ближайшие дни.",
        "operationId": "usersGetExpiring",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 3
            },
            "description": "Количество дней до истечения срока."
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Фильтр по имени пользователя."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Фильтр по активности ключа."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "description": "Ограничение количества записей."
          }
        ],
        "responses": {
          "200": {
            "description": "Список пользователей с истекающими ключами получен.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Список пользователей VPN.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Запись о VPN-ключе в базе данных.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "user_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "username": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "uuid": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "link": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "issued_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "expires_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "active": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "ok",
                    "users",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Подходящие пользователи не найдены.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Неверно указаны параметры фильтрации.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/users/userinfo": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Возвращает объединённые данные пользователя",
        "description": "Агрегированные данные по VPN, истории и Telegram-чату для выбранного пользователя.",
        "operationId": "usersGetUserinfo",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Имя пользователя для поиска."
          }
        ],
        "responses": {
          "200": {
            "description": "Объединённые данные пользователя получены.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Агрегированные данные по пользователю.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "uuid": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "expires_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "link": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "chat_id": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "user_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "issued_at": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "active": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Пользователь не найден.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Не указан username пользователя.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/users/all": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Возвращает всех с chat_id",
        "description": "Выводит всех Telegram-пользователей из локальной таблицы tg_users.",
        "operationId": "usersGetAll",
        "responses": {
          "200": {
            "description": "Список Telegram-пользователей получен.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Список Telegram-пользователей.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "chat_id": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "username",
                          "chat_id"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "users"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/notify/send": {
      "post": {
        "tags": [
          "notify"
        ],
        "summary": "Отправить сообщение пользователю",
        "description": "Отправляет личное уведомление пользователю в Telegram.",
        "operationId": "notifyPostSend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "text"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Имя пользователя в Telegram."
                  },
                  "text": {
                    "type": "string",
                    "description": "Текст уведомления."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "username": "demo_user",
                "text": "Ваш ключ продлён до 2024-12-31."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Уведомление отправлено.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Результат отправки личного уведомления.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Не указаны необходимые поля.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Не удалось найти chat_id пользователя.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Telegram вернул ошибку при отправке сообщения.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Ошибка взаимодействия с Telegram API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/notify/broadcast": {
      "post": {
        "tags": [
          "notify"
        ],
        "summary": "Массовая рассылка",
        "description": "Отправляет сообщение всем пользователям из таблицы tg_users.",
        "operationId": "notifyPostBroadcast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Текст сообщения для массовой рассылки."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "text": "Сегодня плановые технические работы в 23:00."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Рассылка выполнена.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Результат массовой рассылки.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Пустой текст сообщения.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "BOT_TOKEN не настроен или произошла ошибка при отправке.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/admin/backup_db": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Резервное копирование БД",
        "description": "Создаёт резервную копию базы данных и возвращает информацию о файле.",
        "operationId": "adminPostBackupDb",
        "responses": {
          "200": {
            "description": "Резервная копия создана.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Информация о резервной копии базы данных.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "backup_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "location": {
                      "type": "string",
                      "format": "uri"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "backup_id",
                    "created_at",
                    "location",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    },
    "/admin/stats": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Статистика по пользователям и ключам",
        "description": "Возвращает агрегированные показатели по активным и просроченным ключам.",
        "operationId": "adminGetStats",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Фильтр по имени пользователя."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Фильтр по признаку активности ключей."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "description": "Ограничение количества записей при вычислении статистики."
          }
        ],
        "responses": {
          "200": {
            "description": "Статистика успешно вычислена.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Статистика по пользователям и ключам.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "active_keys": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "expired_keys": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "users_total": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "ok",
                    "active_keys",
                    "expired_keys",
                    "users_total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Статистика недоступна для выбранных параметров.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Неверно указан параметр limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Стандартный ответ об ошибке.",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "AdminTokenAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Стандартный ответ об ошибке.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "error"
        ],
        "additionalProperties": false
      },
      "VpnIssueKeyResponse": {
        "type": "object",
        "description": "Ответ с данными нового VPN-ключа.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "link": {
            "type": "string",
            "description": "Сформированная VLESS-ссылка для подключения."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Уникальный идентификатор ключа."
          },
          "expires": {
            "type": "string",
            "format": "date",
            "description": "Дата истечения срока действия ключа."
          },
          "message": {
            "type": "string",
            "description": "Сообщение для пользователя."
          }
        },
        "required": [
          "ok",
          "link",
          "uuid",
          "expires",
          "message"
        ],
        "additionalProperties": false
      },
      "VpnRenewKeyResponse": {
        "type": "object",
        "description": "Ответ при продлении VPN-ключа.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "username": {
            "type": "string"
          },
          "expires": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "ok",
          "username",
          "expires"
        ],
        "additionalProperties": false
      },
      "VpnDisableKeyResponse": {
        "type": "object",
        "description": "Ответ при деактивации ключа.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "uuid"
        ],
        "additionalProperties": false
      },
      "VpnActiveKeysResponse": {
        "type": "object",
        "description": "Список активных VPN-ключей.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "active": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string"
                },
                "uuid": {
                  "type": "string",
                  "format": "uuid"
                },
                "link": {
                  "type": "string"
                },
                "issued_at": {
                  "type": "string",
                  "format": "date"
                },
                "expires_at": {
                  "type": "string",
                  "format": "date"
                }
              },
              "required": [
                "username",
                "uuid",
                "link",
                "issued_at",
                "expires_at"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "ok",
          "active"
        ],
        "additionalProperties": false
      },
      "VpnKeyRecord": {
        "type": "object",
        "description": "Запись о VPN-ключе в базе данных.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "uuid": {
            "type": [
              "string",
              "null"
            ]
          },
          "link": {
            "type": [
              "string",
              "null"
            ]
          },
          "issued_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "UsersCollectionResponse": {
        "type": "object",
        "description": "Список пользователей VPN.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Запись о VPN-ключе в базе данных.",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "user_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "username": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "uuid": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "link": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "issued_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "expires_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "active": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "ok",
          "users",
          "total"
        ],
        "additionalProperties": false
      },
      "UserinfoResponse": {
        "type": "object",
        "description": "Агрегированные данные по пользователю.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "user": {
            "type": "object",
            "properties": {
              "username": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "uuid": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "expires_at": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "link": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "chat_id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "user_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "issued_at": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "active": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        },
        "required": [
          "ok",
          "user"
        ],
        "additionalProperties": false
      },
      "TelegramUsersResponse": {
        "type": "object",
        "description": "Список Telegram-пользователей.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "username": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "chat_id": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              },
              "required": [
                "username",
                "chat_id"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "ok",
          "users"
        ],
        "additionalProperties": false
      },
      "NotifySendResponse": {
        "type": "object",
        "description": "Результат отправки личного уведомления.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "message"
        ],
        "additionalProperties": false
      },
      "NotifyBroadcastResponse": {
        "type": "object",
        "description": "Результат массовой рассылки.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "message"
        ],
        "additionalProperties": false
      },
      "AdminBackupResponse": {
        "type": "object",
        "description": "Информация о резервной копии базы данных.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "backup_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string",
            "format": "uri"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "backup_id",
          "created_at",
          "location",
          "message"
        ],
        "additionalProperties": false
      },
      "AdminStatsResponse": {
        "type": "object",
        "description": "Статистика по пользователям и ключам.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "active_keys": {
            "type": "integer",
            "minimum": 0
          },
          "expired_keys": {
            "type": "integer",
            "minimum": 0
          },
          "users_total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "ok",
          "active_keys",
          "expired_keys",
          "users_total"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "AdminTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-admin-token",
        "description": "Административный токен, который необходимо передавать в заголовке x-admin-token"
      }
    }
  }
}
