{
  "openapi": "3.0.3",
  "info": {
    "title": "VPN_GPT Action API",
    "version": "1.0.0",
    "description": "API для GPT-действий: управление VPN-ключами, пользователями и уведомлениями"
  },
  "servers": [
    {"url": "https://vpn-gpt.store"}
  ],
  "paths": {
    "/vpn/issue_key": {
      "post": {
        "summary": "Выдать VPN-ключ",
        "description": "Выдаёт VPN-ключ бесплатно (временный демо-режим)",
        "parameters": [
          {
            "name": "x-admin-token",
            "in": "query",
            "required": false,
            "schema": {"type": "string"},
            "description": "Административный токен (опционально)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Telegram username или иной идентификатор пользователя"
                  },
                  "days": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 30,
                    "description": "Срок действия ключа в днях"
                  }
                },
                "required": ["username"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ключ создан успешно",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "uuid": {"type": "string"},
                    "link": {"type": "string", "format": "uri"},
                    "expires": {"type": "string", "format": "date"},
                    "message": {"type": "string"}
                  },
                  "required": ["ok", "uuid", "link", "expires", "message"]
                },
                "examples": {
                  "success": {
                    "value": {
                      "ok": true,
                      "uuid": "6b82e1c1-0f85-4f94-8d6d-4df32a3c1d5b",
                      "link": "vless://example@vpn-gpt.store",
                      "expires": "2024-12-31",
                      "message": "Ключ создан успешно."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "У пользователя уже есть активный ключ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "error": {"type": "string"},
                    "message": {"type": "string"}
                  },
                  "required": ["ok", "error", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/users/userinfo": {
      "get": {
        "summary": "Получить агрегированные данные пользователя",
        "description": "Возвращает объединённые сведения о VPN-пользователе c авто-подтягиванием chat_id и user_id",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Telegram username пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Агрегированная информация о пользователе или сообщение об отсутствии данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "user": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "username": {"type": "string"},
                        "uuid": {"type": "string"},
                        "link": {"type": "string"},
                        "chat_id": {"type": "integer"},
                        "expires_at": {"type": "string", "format": "date"},
                        "active": {"type": "integer"},
                        "user_id": {"type": "string"}
                      }
                    },
                    "error": {"type": "string", "nullable": true}
                  },
                  "required": ["ok"],
                  "additionalProperties": false
                },
                "examples": {
                  "success": {
                    "value": {
                      "ok": true,
                      "user": {
                        "username": "ai_leaddesigner",
                        "uuid": "xxxx-xxxx",
                        "link": "vless://...",
                        "chat_id": 123456,
                        "expires_at": "2025-11-11",
                        "active": 1,
                        "user_id": "ai_leaddesigner"
                      }
                    }
                  },
                  "not_found": {
                    "value": {
                      "ok": false,
                      "error": "user_not_found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
